{#
----------------------------------------------------------------
DIAGRAMS
----------------------------------------------------------------
- Gonna put information about each sale assistant's sales (taken from DB)
in charts


----------------------------------------------------------------


----------------------------------------------------------------
INFORMATION
----------------------------------------------------------------
- Top 5 best sellers (Their name + number)+ their upt
str

- Gonna put information about category of items sold (Probably manual or automatic generation of category)
how much each category earned
str
----------------------------------------------------------------

#}
{% extends 'base.html' %}

{% block content %}
<h1>LLLLLLLL</h1>
{% endblock %}
