{#
----------------------------------------------------------------
DIAGRAMS
----------------------------------------------------------------
- Gonna put information about each sale assistant's sales anually
in charts

- As well gonna put information about category of items sold
how much each category earned
in charts

- UPT per person
in charts
in the bottom average upt per hole shop

- Monthly revenue for a hole shop
in charts
----------------------------------------------------------------


----------------------------------------------------------------
INFORMATION
----------------------------------------------------------------
- Top 5 best sellers + their upt
str

-
----------------------------------------------------------------

#}

{% extends 'base.html' %}

{% block content %}

{% endblock %}
